* {
  margin: 0;
  padding: 0;
}

.App {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 5px solid blue; */
}
.App h1{
  margin-bottom: 30px;
  border-bottom: 2px solid #446;
}
body {
  font: 1em/1.618 Inter, sans-serif;
  min-height: 100vh;
  padding: 30px;

  color: #224;
  background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center /
    cover no-repeat fixed;
}

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
